# Importing library and data

In [ ]:
pip install tensorflow_text

In [1]:
import tensorflow as tf
tf.__version__

'2.13.0'

In [14]:
import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as text

In [1]:
import pandas as pd

dt = pd.read_csv('./datasets/spam.csv')
dt.head(10)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
6      ham  Even my brother is not like to speak with me. ...
7      ham  As per your request 'Melle Melle (Oru Minnamin...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...

## **Data preprocessing**
### *Getting all categories*

In [2]:
categories = dt['Category'].unique()
print(categories)

['ham' 'spam']

In [4]:
dt.groupby('Category').describe()

                         Text
                        count unique
Labels
Books                   11820   6256  \
Clothing & Accessories   8670   5674
Electronics             10621   5308
Household               19313  10564


                                                                      top freq
Labels
Books                   Think & Grow Rich About the Author NAPOLEON HI...   30
Clothing & Accessories  Diverse Men's Formal Shirt Diverse is a wester...   23
Electronics             HP 680 Original Ink Advantage Cartridge (Black...   26
Household               Nilkamal Series-24 Chest of Drawers (Cream Tra...   13

### *Handling dataframes*

In [5]:
df_ham = dt[dt['Category'] == 'ham']
df_ham.head(10)
df_ham.shape

(4825, 2)

In [6]:
df_spam = dt[dt['Category'] == 'spam']
df_spam.shape

(747, 2)

### ***Balancing dataframes***

In [7]:
df_ham_downsample = df_ham.head(df_spam.shape[0])
df_ham_downsample.shape

(747, 2)

### ***Merging dataframes***

In [8]:
dfs_array = [df_ham_downsample, df_spam]
df_merged = pd.concat(dfs_array)
df_merged[df_merged['Category'] == 'ham']

    Category                                            Message
0        ham  Go until jurong point, crazy.. Available only ...
1        ham                      Ok lar... Joking wif u oni...
3        ham  U dun say so early hor... U c already then say...
4        ham  Nah I don't think he goes to usf, he lives aro...
6        ham  Even my brother is not like to speak with me. ...
..       ...                                                ...
883      ham  I love to give massages. I use lots of baby oi...
884      ham                        Dude we should go sup again
885      ham  Yoyyooo u know how to change permissions for a...
886      ham                           Gibbs unsold.mike hussey
887      ham  I like to talk pa but am not able to. I dont k...

[747 rows x 2 columns]

### ***Adding 'type' column***

In [9]:
df_merged['Type'] = df_merged['Category'].apply(
    lambda x: 0 if x == 'ham' else 1
)
df_merged.sample(50)

     Category                                            Message  Type
1017     spam  FREE for 1st week! No1 Nokia tone 4 ur mob eve...     1
241       ham  Tomarrow final hearing on my laptop case so i ...     0
380       ham  I taught that Ranjith sir called me. So only i...     0
5068     spam  83039 62735=£450 UK Break AccommodationVoucher...     1
240      spam  U 447801259231 have a secret admirer who is lo...     1
814       ham                                I borrow ur bag ok.     0
472       ham  How long has it been since you screamed, princ...     0
1414     spam  Dear U've been invited to XCHAT. This is our f...     1
246       ham  Too late. I said i have the website. I didn't ...     0
596       ham                           I am great! How are you?     0
137       ham                 He is there. You call and meet him     0
2290     spam  Had your mobile 11mths ? Update for FREE to Or...     1
3302     spam           RCT' THNQ Adrian for U text. Rgds Vatian     1
121      spam  URGENT! Your Mobile No. was awarded £2000 Bonu...     1
93       spam  Please call our customer service representativ...     1
425       ham  Send this to ur friends and receive something ...     0
463      spam  UpgrdCentre Orange customer, you may now claim...     1
419       ham  Alright, I'll head out in a few minutes, text ...     0
820       ham  BOO BABE! U ENJOYIN YOURJOB? U SEEMED 2 B GETT...     0
266       ham                Same. Wana plan a trip sometme then     0
2514     spam  U have won a nokia 6230 plus a free digital ca...     1
791       ham  This is hoping you enjoyed your game yesterday...     0
234       ham   Yes:)here tv is always available in work place..     0
70        ham     Wah lucky man... Then can save money... Hee...     0
339       ham                             Sorry, I'll call later     0
2525     spam  FREE entry into our £250 weekly comp just send...     1
312      spam  Think ur smart ? Win £200 this week in our wee...     1
4377     spam  If you don't, your prize will go to another cu...     1
757       ham  Cant think of anyone with * spare room off * t...     0
5102     spam  This msg is for your mobile content order It h...     1
115       ham  Wa, ur openin sentence very formal... Anyway, ...     0
1252     spam  Please CALL 08712402779 immediately as there i...     1
590       ham                 I'm in a meeting, call me later at     0
4154     spam  URGENT!! Your 4* Costa Del Sol Holiday or £500...     1
2496     spam  WINNER! As a valued network customer you hvae ...     1
81        ham                    K. Did you call me just now ah?     0
863       ham  Sorry, I guess whenever I can get a hold of my...     0
500       ham                            Dear i have reache room     0
3999     spam  We tried to call you re your reply to our sms ...     1
3316     spam  FREE MESSAGE Activate your 500 FREE Text Messa...     1
5427     spam  Santa Calling! Would your little ones like a c...     1
2730     spam  Urgent! Please call 09066612661 from your land...     1
320       ham                            Coffee cake, i guess...     0
864       ham  Did u find out what time the bus is at coz i n...     0
2808     spam  December only! Had your mobile 11mths+? You ar...     1
733       ham  Lol you won't feel bad when I use her money to...     0
2729     spam  Urgent Please call 09066612661 from landline. ...     1
847       ham  My stomach has been thru so much trauma I swea...     0
397       ham  Was actually sleeping and still might when u c...     0
778       ham  Hi its Kate it was lovely to see you tonight a...     0

### ***Splitting dataframe***

In [10]:
cols = df_merged.select_dtypes(include=['object'])
for col in cols.columns.values:
    df_merged[col] = df_merged[col].fillna('')

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_merged['Message'], df_merged['Type'], stratify=df_merged['Type'])
X_train.head()

2791    U’ve Bin Awarded £50 to Play 4 Instant Cash. C...
362                                       Oh ok no prob..
469          Yup, no need. I'll jus wait 4 e rain 2 stop.
457     LOOK AT AMY URE A BEAUTIFUL, INTELLIGENT WOMAN...
112                       Going for dinner.msg you after.
Name: Message, dtype: object

### ***Importing BERT and getting embeding vectors for data***

In [15]:
bert_preprocess = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/3")
bert_encoder = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_L-12_H-768_A-12/4")

**Example getting embeding of sentence**

In [16]:
def get_sentence_embeding(sentences):
    preprocessed_text = bert_preprocess(sentences)
    return bert_encoder(preprocessed_text)['pooled_output']

get_sentence_embeding([
    "500$ discount. hurry up", 
    "Bhavin, are you up for a volleybal game tomorrow?"]
)

<tf.Tensor: shape=(2, 768), dtype=float32, numpy=
array([[-0.84351695, -0.5132727 , -0.88845736, ..., -0.74748874,
        -0.75314736,  0.91964495],
       [-0.87208354, -0.50543964, -0.94446677, ..., -0.8584749 ,
        -0.7174534 ,  0.88082975]], dtype=float32)>

**Building model**

In [17]:
#BERT Layer
text_input = tf.keras.layers.Input(shape=(), dtype=tf.string, name = "text")
preprocessed_inputs = bert_preprocess(text_input)
encoded_outputs = bert_encoder(preprocessed_inputs)

#Neural network
layer = tf.keras.layers.Dropout(0.1, name='dropout') (encoded_outputs['pooled_output'])
layer= tf.keras.layers.Dense(1, activation='sigmoid', name="output")(layer)

#Construct the final model
model = tf.keras.Model(inputs=[text_input], outputs=[layer])

In [18]:
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 text (InputLayer)              [(None,)]            0           []

 keras_layer (KerasLayer)       {'input_type_ids':   0           ['text[0][0]']
                                (None, 128),
                                 'input_mask': (Non
                                e, 128),
                                 'input_word_ids':
                                (None, 128)}

 keras_layer_1 (KerasLayer)     {'encoder_outputs':  109482241   ['keras_layer[0][0]',
                                 [(None, 128, 768),               'keras_layer[0][1]',
                                 (None, 128, 768),                'keras_layer[0][2]']
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768)],
                                 'pooled_output': (
                                None, 768),
                                 'default': (None,
                                768),
                                 'sequence_output':
                                 (None, 128, 768)}

 dropout (Dropout)              (None, 768)          0           ['keras_layer_1[0][13]']

 output (Dense)                 (None, 1)            769         ['dropout[0][0]']

==================================================================================================
Total params: 109,483,010
Trainable params: 769
Non-trainable params: 109,482,241
__________________________________________________________________________________________________

In [19]:
model.compile(loss='binary_crossentropy', optimizer='adam',
              metrics=[tf.keras.metrics.BinaryAccuracy(name = 'Accuracy'),
                       tf.keras.metrics.Precision(name = 'Precision'), 
                       tf.keras.metrics.Recall(name = 'Recall')])

In [21]:
import numpy as np
y_train = np.asarray(y_train).astype(np.int64)
model.fit(X_train, y_train, epochs = 3)

Epoch 1/3
35/35 [==============================] - 261s 7s/step - loss: 0.6459 - Accuracy: 0.6268 - Precision: 0.6360 - Recall: 0.5929
Epoch 2/3
35/35 [==============================] - 203s 6s/step - loss: 0.5113 - Accuracy: 0.8062 - Precision: 0.7892 - Recall: 0.8357
Epoch 3/3
35/35 [==============================] - 184s 5s/step - loss: 0.4424 - Accuracy: 0.8384 - Precision: 0.8330 - Recall: 0.8464