In [4]:
import pandas as pd

dataset = pd.read_csv('datasets/ecommerceDataset.csv', header=None)

In [6]:
categories = dataset[0].unique()
categories

array(['Household', 'Books', 'Clothing & Accessories', 'Electronics'],
      dtype=object)

In [7]:
dataset.groupby(0).describe()

                            1         \
                        count unique
0
Books                   11820   6256
Clothing & Accessories   8670   5674
Electronics             10621   5308
Household               19313  10564


                                                                      top freq
0
Books                   Think & Grow Rich About the Author NAPOLEON HI...   30
Clothing & Accessories  Diverse Men's Formal Shirt Diverse is a wester...   23
Electronics             HP 680 Original Ink Advantage Cartridge (Black...   26
Household               Nilkamal Series-24 Chest of Drawers (Cream Tra...   13

In [10]:
dataset_books = dataset[dataset[0] == 'Books']

dataset_clo = dataset[dataset[0] == 'Clothing & Accessories']

dataset_elec = dataset[dataset[0] == 'Electronics']

dataset_house = dataset[dataset[0] == 'Household']

In [13]:
dataset_elec = dataset_elec.head(dataset_clo.shape[0])
dataset_elec.shape

dataset_books = dataset_books.head(dataset_clo.shape[0])
dataset_books.shape

dataset_house = dataset_house.head(dataset_clo.shape[0])
dataset_house.shape

(8671, 2)

In [15]:
datasets_arr = [dataset_books, dataset_house, dataset_clo, dataset_elec]
datasets_merged = pd.concat(datasets_arr)
datasets_merged

                 0                                                  1
19313        Books  Inner Engineering: A Yogi's Guide to Joy About...
19314        Books       Muslims and Missionaries in Pre-Mutiny India
19315        Books  The PCOD - Thyroid Book - Compiled From Women ...
19316        Books  The Monk Who Sold His Ferrari Review Everyone ...
19317        Books  The Secret of Secrets: The Secrets of the Gold...
...            ...                                                ...
48470  Electronics  LG GH24NSD1 Internal SATA DVD Writer The M-DIS...
48471  Electronics  LG GP65NB60 External DVD Writer (Black) LG GP6...
48472  Electronics  PIONEER DVD PLAYER DV-3052V Pioneer DV-3052 Mu...
48473  Electronics  LG DP546 DVD Player (Black) DivX-This is a for...
48474  Electronics  PODOFO 10.9cm Foldable TFT Color LCD Car Monit...

[34684 rows x 2 columns]

In [23]:
labels = datasets_merged[0]
texts = datasets_merged[1]
labels.head(10)

19313    Books
19314    Books
19315    Books
19316    Books
19317    Books
19318    Books
19319    Books
19320    Books
19321    Books
19322    Books
Name: 0, dtype: object

In [20]:
df_text = datasets_merged[1].values
df_label = datasets_merged[0].values
x_train = df[:200, : ]
x_train.shape
y_train =

(200, 2)