In [105]:
import pandas as pd

dataset = pd.read_csv('datasets/ecommerceDataset.csv', header=None)

In [106]:
categories = dataset[0].unique()
categories

array(['Household', 'Books', 'Clothing & Accessories', 'Electronics'],
      dtype=object)

In [107]:
dataset.groupby(0).describe()

                            1         \
                        count unique
0
Books                   11820   6256
Clothing & Accessories   8670   5674
Electronics             10621   5308
Household               19313  10564


                                                                      top freq
0
Books                   Think & Grow Rich About the Author NAPOLEON HI...   30
Clothing & Accessories  Diverse Men's Formal Shirt Diverse is a wester...   23
Electronics             HP 680 Original Ink Advantage Cartridge (Black...   26
Household               Nilkamal Series-24 Chest of Drawers (Cream Tra...   13

In [108]:
dataset_books = dataset[dataset[0] == 'Books']

dataset_clo = dataset[dataset[0] == 'Clothing & Accessories']

dataset_elec = dataset[dataset[0] == 'Electronics']

dataset_house = dataset[dataset[0] == 'Household']

In [109]:
dataset_elec = dataset_elec.head(dataset_clo.shape[0])
dataset_elec.shape

dataset_books = dataset_books.head(dataset_clo.shape[0])
dataset_books.shape

dataset_house = dataset_house.head(dataset_clo.shape[0])
dataset_house.shape

(8671, 2)

In [110]:
datasets_arr = [dataset_books, dataset_house, dataset_clo, dataset_elec]
datasets_merged = pd.concat(datasets_arr)
datasets_merged

                 0                                                  1
19313        Books  Inner Engineering: A Yogi's Guide to Joy About...
19314        Books       Muslims and Missionaries in Pre-Mutiny India
19315        Books  The PCOD - Thyroid Book - Compiled From Women ...
19316        Books  The Monk Who Sold His Ferrari Review Everyone ...
19317        Books  The Secret of Secrets: The Secrets of the Gold...
...            ...                                                ...
48470  Electronics  LG GH24NSD1 Internal SATA DVD Writer The M-DIS...
48471  Electronics  LG GP65NB60 External DVD Writer (Black) LG GP6...
48472  Electronics  PIONEER DVD PLAYER DV-3052V Pioneer DV-3052 Mu...
48473  Electronics  LG DP546 DVD Player (Black) DivX-This is a for...
48474  Electronics  PODOFO 10.9cm Foldable TFT Color LCD Car Monit...

[34684 rows x 2 columns]

In [111]:
labels = datasets_merged[0]
texts = datasets_merged[1]
labels.head(10)

19313    Books
19314    Books
19315    Books
19316    Books
19317    Books
19318    Books
19319    Books
19320    Books
19321    Books
19322    Books
Name: 0, dtype: object

In [112]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.src.utils import np_utils
import numpy as np


# encode class values as integers
encoder = LabelEncoder()
encoder.fit(labels)
encoded_Y = encoder.transform(labels)
# convert integers to dummy variables (i.e. one hot encoded)
y_cat = np_utils.to_categorical(encoded_Y)
y_cat = y_cat.astype(float)

x_train, x_test, y_train, y_test = train_test_split(texts.values, y_cat, test_size=0.2)
y_train

array([[0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       ...,
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.]])

In [113]:
# df_text = datasets_merged[1].values
# df_label = datasets_merged[0].values

# x_train = df_text[:4000]
# x_test = df_text[4000:4100]

# y_train = df_label[:4000]
# y_test = df_label[4000:4100]

In [126]:
import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as text

print(tf.__version__)

# bert_preprocess = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/3")
# bert_encoder = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_L-12_H-768_A-12/4")

# preprocessed_inputs = bert_preprocess(x_train)
# encoded_train = bert_encoder(preprocessed_inputs)

ModuleNotFoundError: No module named 'tensorflow_text'

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.optimizers import Adam

model = Sequential()

model.add(Dense(60, input_shape = (1,), activation = "relu"))
model.add(Dense(15, activation = "relu"))
model.add(Dropout(0.2))
model.add(Dense(4, activation = "sigmoid"))
model.compile(Adam(learning_rate = 0.01), "categorical_crossentropy", metrics = [tf.keras.metrics.BinaryAccuracy(name = 'Accuracy'),
                       tf.keras.metrics.Precision(name = 'Precision'), 
                       tf.keras.metrics.Recall(name = 'Recall')])
model.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_21 (Dense)            (None, 60)                120

 dense_22 (Dense)            (None, 15)                915

 dropout_7 (Dropout)         (None, 15)                0

 dense_23 (Dense)            (None, 4)                 64

=================================================================
Total params: 1099 (4.29 KB)
Trainable params: 1099 (4.29 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
model.fit(encoded_train, y_train, epochs=1, verbose=1)

NameError: name 'encoded_train' is not defined